/*  import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}

/* custom scroll bar */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* all similar content styling codes */
section{

}
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
.about, .Images, .skills, .teams, .contact, footer, .scooterImgs .Videos{
    font-family: 'Poppins', sans-serif;
}

.about .about-content, 
.Images .serv-content,
.skills .skills-content,
.contact .contact-content .scooterImgs .Videos{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 70px 0 70px 0px;
}
.title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}
section .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: #111;
    transform: translateX(-50%);
}
section .title::after{
    position: absolute;
    bottom: 0px;
    left: 50%;
    font-size: 20px;
    color: #ffffff;
    padding: 0 5px;
    background: #00a3ff !important;
    transform: translateX(-50%);
    border-radius: 5px;
}

/* navbar styling */
.navbar{
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 30px 0;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;
}
.navbar.sticky{
    padding: 15px 0;
    background: #0070C0;;
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a{
    color: #fff;
    font-size: 35px;
    font-weight: 600;
}
.navbar .logo a span{
    color: #0070C0;;
    transition: all 0.3s ease;
}
.navbar.sticky .logo a span{
    color: #fff;
}
.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .menu li a{
    display: block;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}
.navbar .menu li a:hover{
    color: crimson;
}
.navbar.sticky .menu li a:hover{
    color: #fff;
}

/* menu btn styling */
.menu-btn{
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
}
.scroll-up-btn{
    position: fixed;
    height: 45px;
    width: 42px;
    background: #0070C0;
    right: 30px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    color: #fff;
    z-index: 9999;
    font-size: 30px;
    border-radius: 6px;
    border-bottom-width: 2px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}
.scroll-up-btn.show{
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;
}
.scroll-up-btn:hover{
    filter: brightness(90%);
}

  
/* home section styling */
.home{
    display: flex;
    background: url("../images/banner.jpg") no-repeat center;
    height: 100vh;
    color: #fff;
    min-height: 500px;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Ubuntu', sans-serif;
}
.home .max-width{
    margin: auto 0 auto 30px;
}
.home .home-content .text-1{
    font-size: 27px;
}
.home .home-content .text-2{
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}
.home .home-content .text-3{
    font-size: 40px;
    margin: 5px 0;
}
.home .home-content .text-3 span{
    color: #0070C0;;
    font-weight: 500;
}
.home .home-content a{
    display: inline-block;
    background: #0070C0;;
    color: #fff;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    font-weight: 400;
    border-radius: 6px;
    border: 2px solid #0070C0;;
    transition: all 0.3s ease;
}
.home .home-content a:hover{
    color: crimson;
    background: none;
}

/* about section styling */
.about .title::after{
    content: "who i am";
}


.about .about-content .left{
    width: 45%;
}


.Video .Video-content .left{
    width: 45%;
}

.about .about-content .left img{
    height: 440px;
    width: 400px;
    object-fit: cover;
    border-radius: 50px;
}


.byebye {
  opacity: 0;
}
.byebye:hover {
  transform: scale(0.2) !important;
}

.about .about-content .right{
    width: 55%;
}

.scooterImgs .scooterImgs-content .right{
    /* width: 55%; */
    
}


.about .about-content .right .text{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
}

.scooterImgs .scooterImgs-content .right .text{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}

.about .about-content .right .text span{
    color: #0070C0;
}

.scooterImgs .scooterImgs-content .right .text span{
    color: crimson;
}

.about .about-content .right p{
    text-align: justify;
}

.scooterImgs .scooterImgs-content .right p{
    text-align: justify;
}

.about .about-content .right a{
    display: inline-block;
    background: #0070C0;;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid #0070C0;;
    transition: all 0.3s ease;
}
.scooterImgs .scooterImgs-content .right a{
    display: inline-block;
    background: #0070C0;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid #0070C0;
    transition: all 0.3s ease;

    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
}


.about .about-content .right a:hover{
    color: crimson;
    background: none;
}

.scooterImgs .scooterImgs-content .right a:hover{
    color: crimson;
    background: none;
}

/* Images section styling */
.Images, .teams{
    color:#fff;
    background: #111;
}

.scooterImgs, .teams{
    /* color:#fff; */
    background: #fff4d4;
    padding: 0 0 70px 0;
    
}

.Images .title::before,
.teams .title::before{
    background: #fff;
}
.Images .title::after,
.teams .title::after{
    background: #111;
    content: "what i provide";
}
.Images .serv-content .card{
    width: calc(33% - 20px);
    background: #222;
    text-align: center;
    border-radius: 6px;
    padding: 20px 25px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.Images .serv-content .card:hover{
    background: crimson;
}
.Images .serv-content .card .box{
    transition: all 0.3s ease;
}
.Images .serv-content .card:hover .box{
    transform: scale(1.05);
}
.Images .serv-content .card i{
    font-size: 50px;
    color: crimson;
    transition: color 0.3s ease;
}
.Images .serv-content .card:hover i{
    color: #fff;
}
.Images .serv-content .card .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}

/* skills section styling */

.skills .title::after{
    content: "what i know";
}
.skills .skills-content .column{
    width: calc(50% - 30px);
    margin: 0 auto;
}
.skills .skills-content .left .text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.skills .skills-content .left p{
    text-align: justify;
}
.skills .skills-content .left a{
    display: inline-block;
    background: crimson;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 16px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
}
.skills .skills-content .left a:hover{
    color: crimson;
    background: none;
}
.skills .skills-content .right .bars{
    margin-bottom: 15px;
}
.skills .skills-content .right .info{
    display: flex;
    margin-bottom: 5px;
    align-items: center;
    justify-content: space-between;
}
.skills .skills-content .right span{
    font-weight: 500;
    font-size: 18px;
}
.skills .skills-content .right .line{
    height: 5px;
    width: 100%;
    background: lightgrey;
    position: relative;
}
.skills .skills-content .right .line::before{
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background: #0070C0;
}
.skills-content .right .html::before{
    width: 90%;
}
.skills-content .right .css::before{
    width: 60%;
}
.skills-content .right .js::before{
    width: 80%;
}
.skills-content .right .php::before{
    width: 50%;
}
.skills-content .right .mysql::before{
    width: 70%;
}

/* teams section styling */
.teams .title::after{
    content: "who with me";
}
.teams .carousel .card{
    background: #222;
    border-radius: 6px;
    padding: 25px 35px;
    text-align: center;
    overflow: hidden;
    transition: all 0.3s ease;
}
.teams .carousel .card:hover{
    background: crimson;
}
.teams .carousel .card .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}
.teams .carousel .card:hover .box{
    transform: scale(1.05);
}
.teams .carousel .card .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}
.teams .carousel .card img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid crimson;
    transition: all 0.3s ease;
}
.teams .carousel .card:hover img{
    border-color: #fff;
}
.owl-dots{
    text-align: center;
    margin-top: 20px;
}
.owl-dot{
    height: 13px;
    width: 13px;
    margin: 0 5px;
    outline: none!important;
    border-radius: 50%;
    border: 2px solid crimson!important;
    transition: all 0.3s ease;
}
.owl-dot.active{
    width: 35px;
    border-radius: 14px;
}
.owl-dot.active,
.owl-dot:hover{
    background: crimson!important;
}

/* contact section styling */
.contact .title::after{
    content: "get in touch";
}
.contact .contact-content .column{
    width: calc(50% - 30px);
}
.contact .contact-content .text{
    font-size: 20px;
    font-weight: 600;
}
.contact .contact-content .left p{
    text-align: justify;
}

.contact .contact-content .row i{
    font-size: 25px;
    color: crimson;
}
.contact .contact-content .info .head{
    font-weight: 500;
}
.contact .right form .fields{
    display: flex;
}
.contact .right form .field,
.contact .right form .fields .field{
   
    width: 100%;
    margin-bottom: 15px;
}
.contact .right form .textarea{
    
    width: 100%;
}
.contact .right form .name{
    margin-right: 10px;
}
.contact .right form .email{
    margin-left: 10px;  
}
.contact .right form .field input,
.contact .right form .textarea textarea{
    height: 100%;
    width: 100%;
    border: 1px solid lightgrey;
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    transition: all 0.3s ease;
}
.contact .right form .field input:focus,
.contact .right form .textarea textarea:focus{
    border-color: #b3b3b3;
}
.contact .right form .textarea textarea{
    padding-top: 10px;
    resize: none;
}
.contact .right form .button{
    height: 47px;
    width: 170px;
}
.contact .right form .button button{
    width: 100%;
    height: 100%;
    border: 2px solid crimson;
    background: crimson;
    color: #fff;
    outline: none;
    font-size: 20px;
    font-weight: 500;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.contact .right form .button button:hover{
    color: crimson;
    background: none;
}

.contact
{
    background:#fff4d4;
}
.contact .title::after 
{
    background:#fff4d4;
}
    

/* footer section styling */
footer{
    background: #111;
    padding: 15px 23px;
    color: #fff;
    text-align: center;
}
footer span a{
    color: #0070C0;
    text-decoration: none;
}
footer span a:hover{
    text-decoration: underline;
}

.scooterImgs .title::before 
{
    content: "";
    position: absolute;
    bottom: 8px;
    left: 50%;
    width: 245px;
    height: 3px;
    background: #fff;
    transform: translateX(-50%);
}
.scooterImgs .title::after {
    background: #111;
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    font-size: 20px;
    color: #0070C0;
    padding: 0 5px;
    transform: translateX(-50%);
}

.Videos .title::before 
{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 245px;
    height: 3px;
    background: #000;
    transform: translateX(-50%);
}
.Videos .title::after {
    background: #fff;
    content: "( Project LioRide )";
}
.Images .title::before
{
    width: 215px;
}
.hello {
  opacity: 1 !important;
}
.full {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.full .content {
  background-color: rgba(0,0,0,0.75) !important;
  height: 100%;
  width: 100%;
  display: grid;
}
.full .content img {
    /* left: 50%;
    transform: translate3d(0, 0, 0);
    animation: zoomin 1s ease;
    max-width: auto;
    max-height: 30%;
    margin: 20px auto; */

    width: 100vw;
    height: 100vh;
    object-fit: contain;
    transform: translate3d(0, 0, 0);
    animation: zoomin 1s ease;
    margin: 0;
}

.gallery {
  display: grid;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: max-content;
}
.gallery img {
  max-width: 100%;
  border-radius: 8px;
  box-shadow: 0 0 16px #333;
  transition: all 1.5s ease;
}
.gallery img:hover {
  box-shadow: 0 0 32px #333;
}
.gallery .content {
  padding: 4px;
}
.gallery .gallery-item {
  transition: grid-row-start 300ms linear;
  transition: transform 300ms ease;
  transition: all 0.5s ease;
  cursor: pointer;
}
.gallery .gallery-item:hover {
  transform: scale(1.025);
}
.menuBtnBar
{
    border: 1px solid #6db8ee;
    width: 40px;
    height: 5px;
    border-radius: 2px;
    margin: 8px auto 0;
}
.menuBtnBar:hover
{
    background-color:#6db8ee;
}
.mobileMenuBtn
{
    width: 50px;
    height: 50px;
    border: 1px solid #6db8ee;
    border-radius: 5px;
}
/* responsive media query start */
@media (max-width: 1300px) {
    .home .max-width{
        margin-left: 0px;
    }
}

@media (max-width: 1104px) {
    .about .about-content .left img{
        height: 350px;
        width: 350px;
    }
}


@media (max-width: 1104px) {
    .scooterImgs .scooterImgs-content .left img{
        height: 350px;
        width: 350px;
    }
}

@media (max-width: 991px) {
    .max-width{
        padding: 0 50px;
    }
}
@media (max-width: 947px)
{
    
    .menu-btn{
        display: block;
        z-index: 999;
    }
    .menu-btn i.active:before{
        content: "\f00d";
    }
    .navbar .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: #111;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }
    .navbar .menu.active{
        left: 0;
    }
    .navbar .menu li{
        display: block;
    }
    .navbar .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
    .home .home-content .text-2{
        font-size: 70px;
    }
    .home .home-content .text-3{
        font-size: 35px;
    }
    .home .home-content a{
        font-size: 23px;
        padding: 10px 30px;
    }
    .max-width{
        max-width: 930px;
    }
    .about .about-content .column{
        width: 100%;
    }
    
   .scooterImgs .scooterImgs-content .column{
        width: 100%;
    }
    .Video .Video-content .column{
        width: 100%;
    }
    
    .about .about-content .left{
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }
    .about .about-content .right{
        flex: 100%;
    }
    .scooterImgs .scooterImgs-content .left{
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }
    .scooterImgs .scooterImgs-content .right{
        flex: 100%;
    }
    .Images .serv-content .card{
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }
    .skills .skills-content .column,
    .contact .contact-content .column{
        width: 100%;
        margin-bottom: 35px;
    }
}

@media (max-width: 690px) {
    .max-width{
        padding: 0 21px;
    }
    .home .home-content .text-2{
        font-size: 60px;
    }
    .home .home-content .text-3{
        font-size: 32px;
    }
    .home .home-content a{
        font-size: 20px;
    }
    .Images .serv-content .card{
        width: 100%;
    }
    .home
    {
    background: url("../images/banner.jpg") no-repeat 80% 0%;
    }
}

@media (max-width: 500px) 
{
    

    
    .home .home-content .text-2{
        font-size: 50px;
    }
    .home .home-content .text-3{
        font-size: 27px;
    }
    .about .about-content .right .text,
    .skills .skills-content .left .text{
        font-size: 19px;
    }
    .scooterImgs .scooterImgs-content .right .text,
    .skills .skills-content .left .text{
        font-size: 19px;
    }
    .contact .right form .fields{
        flex-direction: column;
    }
    .contact .right form .name,
    .contact .right form .email{
        margin: 0;
    }
    .scroll-up-btn{
        right: 15px;
        bottom: 15px;
        height: 38px;
        width: 35px;
        font-size: 23px;
        line-height: 38px;
    }
}

@media (max-width: 600px) {
  .gallery {
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
  }
}
@media (max-width: 400px) {
  .gallery {
    grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
  }
}
@-moz-keyframes zoomin {
  0% {
    max-width: 50%;
    transform: rotate(-30deg);
    filter: blur(4px);
  }
  30% {
    filter: blur(4px);
    transform: rotate(-80deg);
  }
  70% {
    max-width: 20%;
    transform: rotate(45deg);
  }
  100% {
    max-width: 40%;
    transform: rotate(0deg);
  }
}
@-webkit-keyframes zoomin {
  0% {
    max-width: 50%;
    transform: rotate(-30deg);
    filter: blur(4px);
  }
  30% {
    filter: blur(4px);
    transform: rotate(-80deg);
  }
  70% {
    max-width: 20%;
    transform: rotate(45deg);
  }
  100% {
    max-width: 40%;
    transform: rotate(0deg);
  }
}
@-o-keyframes zoomin {
  0% {
    max-width: 50%;
    transform: rotate(-30deg);
    filter: blur(4px);
  }
  30% {
    filter: blur(4px);
    transform: rotate(-80deg);
  }
  70% {
    max-width: 20%;
    transform: rotate(45deg);
  }
  100% {
    max-width: 40%;
    transform: rotate(0deg);
  }
}
@keyframes zoomin {
  0% {
    max-width: 50%;
    transform: rotate(-30deg);
    filter: blur(4px);
  }
  30% {
    filter: blur(4px);
    transform: rotate(-80deg);
  }
  70% {
    max-width: 20%;
    transform: rotate(45deg);
  }
  100% {
    max-width: 40%;
    transform: rotate(0deg);
  }
}
.projects
{
    display: flex;
    justify-content: space-between;
    text-align: center;
    flex-wrap: wrap;
    margin-top: 40px;
}
.projectButton
{
    width: 30%;
    height: 250px;
    line-height: 25px;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    background: #0070C0;
    color: #fff;
    border-radius: 8px;
    transition: all 0.3s ease;
    border: 2px solid #0070C0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-bottom: 20px;
}
.projectButton:hover
{
    border-color: #555;
    color: crimson;
    width: 40%;
    height: 350px;
}

@media (max-width: 627px) 
{
    .projectButton
    {
    line-height: 35px;
    }
}


.androidApps
{
    background-image: url("../images/androidApps.jpg") !important;
    background-position: center;
    background-size: cover;
}
.webDevs
{
    background-image: url("../images/webDevs.jpg") !important;
    background-position: center;
    background-size: cover;
}
.mechatrons
{
    background-image: url("../images/Mechatronics.jpg") !important;
    background-position: center;
    background-size: cover;
}

body {
    font-family: 'Arial', sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
}

h2.title
{
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 00px;
    color: #ffffff;
    background: #00a3ff;
    padding: 25px;
    border-bottom: 5px solid #5d7b8b;
}
.contact {
    padding: 0 0 50px 0;
    /* background-color: #fff; */
}

.max-width {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
}

.contact-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 70px 0 20px 0;
}

/* Left Column Styles */
.contact .column.left {
    flex: 1;
    max-width: 50%;
    margin-right: 5%;
}

.contact .column.left .text {
    font-size: 1.8em;
    color: #333;
    font-weight: 600;
}

.contact .column.left .row i {
    font-size: 1.5em;
    color: #333;
    margin-right: 15px;
}

.contact .column.left .row .info {
    color: #333;
}

.contact .column.left .row .info .head {
    font-weight: 600;
    font-size: 1.1em;
}

/* Right Column Styles (Form) */
.contact .column.right {
    flex: 1;
    max-width: 45%;
}

.contact .column.right .text {
    font-size: 1.8em;
    color: #333;
    font-weight: 600;
    margin-bottom: 20px;
}

.contact .column.right form {
    display: flex;
    flex-direction: column;
}

.contact .column.right form .fields {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact .column.right form .field {
    margin-bottom: 20px;
    width: 100%;
}

.contact .column.right form .fields .field {
    flex: 1;
    margin-right: 10px;
}

.contact .column.right form .fields .field:last-child {
    margin-right: 0;
}

.contact .column.right form input, 
.contact .column.right form textarea {
    width: 100%;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s ease;
}

.contact .column.right form input:focus, 
.contact .column.right form textarea:focus {
    border-color: #333;
}

.contact .column.right form textarea {
    resize: none;
    height: 150px;
}

.contact .column.right form .button {
    text-align: center;
}

.contact .column.right form .button button {
    padding: 12px 25px;
    background: #0070C0;
    color: #fff;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact .column.right form .button button:hover {
    background-color: #555;
}

/* Responsive Design */
@media (max-width: 768px) {
    .contact-content {
        flex-direction: column;
    }

    .contact .column.left,
    .contact .column.right {
        max-width: 100%;
        margin-right: 0;
    }

    .contact .column.right form .fields .field {
        margin-right: 0;
        margin-bottom: 15px;
    }
}


@media (max-width: 768px) 
{
    .projects {
        flex-direction: column;
    }

    .projectButton {
        width: 100%;
        margin-bottom: 15px;
    }
}
.backButton
{
    position: fixed;
    right: 10px;
    font-size: 20px;
    background: #d5cebb;
    padding: 15px;
    border-radius: 10px;
    margin: 20px 10px 0px 0;
    color: #fff;
    cursor: pointer;
    z-index: 999;
    opacity: 40%;
    transition: opacity 0.3s ease;
}
.backButton:hover
{
    color: crimson;
    opacity: 100%;
    transition: opacity 0.3s ease;
}
.projectContent
{
    margin: 70px 0 0 0;
}
.titleGap
{
    margin: 70px auto 0;
}
.projectDesc
{
    color: #000 !important;
    margin: 50px 0 0 0;
    text-align: justify;
}
.projectDesc ul
{
    margin: 0px 0 0 15%;
}
.linkedInQR, .githubQR
{
    background-image: url(../images/linkedIn_QR.png);
    background-size: cover;
    /* width: 225px;
    height: 260px; */
    border-radius: 10px;
    border: 3px solid #000;
    width: 100%;
}
.githubQR
{
    background-image: url(../images/github_QR.png);
}
.contact-content .info
{
    background: #ededed;
    padding: 10px;
    border-radius: 10px;
    box-shadow: #000 1px 1px 5px;
    min-height: 110px;
}
.contact-content .head
{
    background: #a7d2e1;
    padding: 5px;
    border-radius: 10px 10px 0 0;
}
.contact-content .sub-title
{
    background: #fff;
    padding: 5px;
    min-height: 55px;
    border-radius: 0 0px 10px 10px;
}
.contact-content .icons
{
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 10px;
}
.contact-content .row
{
    margin: 7px 10px 15px 0;
}
@media (max-width: 850px) 
{
   .contact-content .sub-title
    {
        font-size: 13px;
    }
}
.clickHereContact
{
    border: 1px solid #fff;
    margin: 10px 5px 0px 5px;
    text-align: center;
    background: #55a1fc;
    color: #fff;
    padding: 5px;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    width: 100%;
    display: block;
}
.clickHereContact:hover
{
    background: #838383;
}
#skills
{
    background-color: #111827;
}
.skillsCatBox
{
    margin: 0 15px 0 15px;
}

/* ======================================================= */
/* Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);

   
}

/* Modal Content (image) */
.modal-content {
    /* margin: auto;
    display: block;
    width: 80%;
    max-width: 700px; */

    width: 100vw;
    height: 100vh;
    object-fit: contain;
    transform: translate3d(0, 0, 0);
    animation: zoomin 1s ease;
    margin: 0;
}

/* Navigation buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev {
    left: 0;
    border-radius: 3px 0 0 3px;
}

/* Close button */
.close
 {
    color: #fff;
    font-size: 27px;
    font-weight: bold;
    transition: 0.3s;
    background: #000;
    border: 1px solid;
    border-radius: 10px;
    text-align: center;
    margin: 0 auto 10px;
    display: block;
    width: 45px;
}

.close:hover, .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}